h1{
    color:aqua
}
h2{
    font-family:cursive;
    color:orange;
}
h3{
    color:rgb(220, 239, 115);
}
a:hover {
    border: solid;
  }
a:link{
    color:rgb(212, 104, 180);
}
a:visited{
    color:rgb(205, 58, 58);
}
div#zentai{
    padding: 5px;
    background-color: rgb(200, 203, 245);
    border: solid;
}
