h1{
    color:aqua
}
.box p :first-child{
    background-color: purple;
}
h2{
    font-family:cursive;
    color:orange;
    background: linear-gradient(to right,red, white);
}
a:link{
    color:green;
}
a:visited{
    color:blue;
}
div#zentai{
    padding: 7px;
    background-color: rgb(158, 158, 114);
}
